body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}
h1{
    font-size: 45px;

}
h2{
    text-align: left;
    padding: 2%;
    
}

.orange{
    color: orange;
}
.flexible{
    display: flex;
    margin: 10px;
    margin-top: 50px;
}
.half-width{
    width: 100%;
    padding-left: 10%;
    padding-right: 5%;
    
}
.half-width img{
    width: 75%;
    padding-right: 5%;
    
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px;
    border-radius: 5px;
}

.middle{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.recipie-b{
    width: 900px;
    box-shadow: 0px 4px 8px 0px gray;
    margin: 3%;
    border-radius: 5%;
    text-align: left;
    padding: 15px;
    padding-right: 15px;
    
    
}
.image{
    width: 100%;
    border-radius: 10%;
    align-items: center;
    padding: 5px;
}
.my-recipie{
    text-align: center;
    margin-top: 5%;
    
}
.header{
    background-color: rgb(4, 47, 104);
    background-image: linear-gradient(rgb(117, 193, 223) white skyblue);
    font-size: 50px;
    text-align: center;
    color: white;
}
.mid{
    font-weight: bold;
    text-align:left;
    padding-left: 10%;
    padding-right: 10%;
}